@media(max-width: 450px) {
    .content {
        height: 440px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30%;
    }

    .content > img {
        width: 136px;
        height: 161px;
    }

    .content > button {
        background-color: #FFFFFF;
        border: 1px solid #D70900;
        border-radius: 5px;
        width: 246px;
        height: 54px;
        font-family: 'Recursive', sans-serif;
        font-size: 18px;
        color: #D70900;
    }
}