@media(max-width: 450px) {
    * {
        box-sizing: border-box;
        font-weight: 400;
    }

    body {
        background-color: #FB6B6B;
    }

    h1 {
        color: #FFFFFF;
        font-size: 36px;
        font-family: 'Righteous', cursive;
    }
}