@media(max-width: 450px) {
    * {
        box-sizing: border-box;
        font-weight: 400;
    }

    body {
        background-color: #FB6B6B;
    }

    h1 {
        color: #FFFFFF;
        font-size: 36px;
        font-family: 'Righteous', cursive;
    }

    [name="checkmark-circle"] {
        color: #2FBE34;
    }

    [name="help-circle"] {
        color: #FF922E;
    }

    [name="close-circle"] {
        color: #FF3030;
    }
}